<% content_for :head do %>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<% end %>
<div class="center">
  <%= image_tag @student.profile_pic_link, class:"responsive-img circle" %>
</div>

<div class="row">
  <h2><%= @student.name %></h2>
</div>

<div class="row center">
  <em>Class: <%= @student.course %></em>
</div>
<div class="row center">
  <em>Portfolio: <%= @student.portfolio_url %></em>
</div>
<div class="row center">
  <em>Email: <%= @student.email %></em>
</div>
<div class="row center">
  <em>Github: <%= @student.github_url %></em>
</div>

<div class="row center">
  <%= link_to "Edit", edit_project_student_path(@project, @student), class: "btn" %>
</div>
