<div class="c city_page">
  <div class="city_container">
    <div class="city_image">
      <%= image_tag @image %>
      <h1><span class="spacer"><%= @city.name %> Demo Days</span></h1>
    </div>
  </div>

    <div class="cohorts">  <% @city.cohorts.order(:demo_day_date).each do |cohort| %>
      <ul>
        <h5><li><%= link_to cohort.demo_day_date.strftime('%B %d, %Y'), handout_path(@city,cohort) %> - <%= link_to "Add Projects", new_cohort_project_path(cohort), class: "btn btn-primary" %> -
        <%= link_to "View Cohort Projects", cohort_projects_path(cohort), class: "btn btn-primary" %></h5></li>
      </ul>
      <% end %>
      <br>
      <h5><%= link_to "Add cohort to #{@city.name}", new_cohort_path %></h5>
    </div>
  <div class="city_footer">
  <%= image_tag 'iron-yard-logo.svg', class: "bottom" %>
  </div>
</div>
