<!DOCTYPE html>
<html lang="min">
  <head>
    <meta charset="utf-8">
    <title>Demo Day | The Iron Yard Houston</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title><%= content_for?(:title) ? yield(:title) : "Api" %></title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
    <%= stylesheet_link_tag "application", :media => "all" %>

    <%= javascript_include_tag "application" %>
    <%= yield :head %>
  </head>
  <body style="">
      <%= link_to('Logout', destroy_admin_user_session_path, :method => :delete, class: 'btn') if admin_user_signed_in? %>
      <%= yield %>
  </body>
</html>
